{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="main_body">
        <div class="header">
            <h1 class="black">SMARTPHONE SHOWROOM</h1>
            <div class="inner_box" >
                {% include 'menu.html' %}
            </div>
        </div>    
        <div class="">
            {% block content%}      
                <h3>Welcome to smartphone showroom</div><h3>
                <img src="{% static "static/image/Best-camera-phones-in-Pakistan-1024x576.jpg" %}" width="100%"/>
            {% endblock%}
        </div>
    </div>
</body>
</html>
